{
                                                  "printWidth": 100,
                                                  "singleQuote": true,
                                                  "semicolons": true
                                                }