.initial-style {
  color: white;
  border-radius: 5px;
  border: 1px solid #ffc107;
  transition: all 0.25s;
  width: 100%;
}

.initial-style:hover {
  background-color: #ffffff;
  transition: all 0.25s;
  color: #ffc107;
}

.primaryButton {
  background-color: #ffc107;
}

.primaryButton:hover,
.primaryButton:focus {
  color: #ffc107;
  border-color: #ffc107;
  background-color: #ffffff;
}

.secondaryButton {
  background-color: #0eb633;
  border-color: #0eb633;
}

.secondaryButton:hover,
.secondaryButton:focus {
  color: #0eb633;
  border-color: #0eb633;
  background-color: #ffffff;
}

.thirdButton {
  background-color: #332a94;
  border-color: #332a94;
}

.thirdButton:hover,
.thirdButton:focus {
  color: #ffffff;
  border-color: #241e69;
  background-color: #241e69;
}

.fourthButton {
  background-color: transparent;
  border-color: #ffeaa7;
  color: #fdcb6e;
}

.fourthButton:hover,
.fourthButton:focus {
  color: #ffffff;
  border-color: #ffc107;
  background-color: #ffc107;
}

.sixthButton,
.sixthButton:focus {
  background-color: #5c5c5c;
  border-color: #5c5c5c;
  color: #ffffff;
}

.sixthButton:hover {
  color: #ffffff;
  border-color: #2d3436;
  background-color: #2d3436;
}

.seventhButton,
.seventhButton:focus {
  background-color: #f95151;
  border-color: #f95151;
  color: #f9f9f9;
}

.seventhButton:hover {
  color: #f9f9f9;
  border-color: #e54a4a;
  background-color: #e54a4a;
}
